.ui.list {
  max-width: 800px;
}

.ui.list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.ui.list .item p {
  margin-bottom: 0px;
}


.ui.list .item .content {
text-align: justify;
}

i.icon.times {
  color: red
}

i.icon.check.circle {
  color: green
}

footer {
  margin: 20px 0
}