body {
  background: rgb(236, 201, 201);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
min-height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 20px !important;
}

section p {
  font-size: 1.5rem;
}

section, header {
  text-align: center;
}

.ui.primary.button {
 font-family: 'Courier New', Courier, monospace;
}

.fade-enter, .fade-exit {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity:1;
  transition: opacity 800ms ease-in;
}